# macOS
.DS_Store

# SwiftPM
.build/
.swiftpm/
Packages/

# Xcode
xcuserdata/
DerivedData/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
*.playground/workspace.xcworkspace/xcuserdata/
*.xcscmblueprint

# etc
.netrc
.modulecache
.clang-module-cache
.swift-module-cache
